.cabecalho__side-menu {
  width: 40px;
  height: 40px;
  background-image: url("../assets/Menu.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__side-menu {
  background-image: url("../assets/Menu\ Aberto.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.container__botao:checked ~ .container__rotulo {
  background: var(--azul-degrade);
}

.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  align-items: center;
  display: flex;
}

.container__img {
  padding: 0.2em;
}

.lista-menu {
  display: none;
  position: absolute;
  width: auto;

  margin-top: 21em;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}

.lista-menu__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__botao {
  display: none;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

.container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--font-josefin);
    font-size: 30px;
  }

  .container__titulo {
    font-weight: 400;
    display: block;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    padding: 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    text-decoration: none;
    color: var(--preto);
  }

  .container__img-transparente {
    display: none;
  }

  .cabecalho__side-menu {
    display: none;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
  }

  .lista-menu {
    margin-top: 3em;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .opcoes__item {
    padding: 1.5em 2em;
  }

  .lista-menu__item:hover{
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }

}

@media screen and (min-width: 1728px) {
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
  }

  .cabecalho {
    padding: 0 2em;
  }

  .opcoes {
    margin-right: auto;
  }

  .container__texto {
    display: block;
  }
  
}
